.InputWithIcon {
  display: flex;
  position: relative;
  img,
  svg {
    position: absolute;
    width: 1.5rem;
    aspect-ratio: 1;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    padding: 1ch;
  }
  &[id='left'] {
    img,
    svg {
      left: 1ch;
    }
    input {
      padding-left: calc(2ch + 1.5rem);
    }
  }
  &[id='right'] {
    img,
    svg {
      right: 1ch;
    }
    input {
      padding-right: calc(2ch + 1.5rem);
    }
  }
}
