#passwordContainer {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  input#passwordShowInput {
    width: 100%;
    padding-right: 2rem;
  }
  span#showBTN {
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;
    position: absolute !important;
    right: 0 !important;
    left: unset !important;
  }
}
