.SignIn {
  position: relative;
  padding-bottom: 5rem;

  //  className="absolute bottom-10 text-[var(--LinkColor)] underline cursor-pointer"
  //   className="absolute bottom-10 text-[var(--LinkColor)] underline"
}

.OptionContainer {
  a,
  p {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--LinkColor);
    text-decoration: underline;
    cursor: pointer;
  }
}
