.SignIn {
  position: relative;
  padding-bottom: 5rem;
  .LinkStyle {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--LinkColor);
    text-decoration: underline;
    cursor: pointer;
  }
}
