@import '@/const/HomeConst.scss';

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding-inline: $padding-section;
  height: calc(100vh - var(--base-nav-height));
}
