.Dashboard {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'nav aside aside aside'
    'nav content content content'
    'nav content content content'
    'nav content content content';
  gap: 2rem;
  padding-inline: 2rem;
  padding-top: 2rem;
  .DashboardNav {
    grid-area: nav;
    .NavContainer {
      flex: 1;
    }
  }
  .DashboardAside {
    grid-area: aside;
  }
  .Content {
    grid-area: content;
  }
}
