@import '@/const/HomeConst.scss';

.Container {
  padding-top: 3rem;
  padding-inline: $padding-section;
  min-height: calc(100vh - var(--base-nav-height));
}

.CenterItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
