.SignIn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  gap: 2rem;
  section {
    flex: 1;
    article {
      display: grid;
      gap: 3rem;
      min-width: 21rem;
      input:not([type="radio"]) {
        width: 100%;
        padding: 0.6rem 1rem;
      }
      div[id="sex"] {
        width: 100%;
        display: flex;
        justify-content: space-around;
        * {
          cursor: pointer;
        }
        input:is([type="radio"]) {
          margin-right: 1ch;
        }
      }
    }
  }
  p {
    width: 100%;
    text-align: center;
    a {
      color: var(--LinkColor);
    }
  }
  @media (width > 1024px) {
    width: 60%;
  }
}
