@import '@/const/Scrollbar.scss';

$min-width: 15rem;
$min-height: 16rem;
$max-height: 20rem;
$border-radius: 1rem;

.Popover {
  position: relative;
  .PopoverButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .PopoverPanel {
    display: flex;
    flex-direction: column;
    min-width: $min-width;
    min-height: max-content;
    max-height: $max-height;
    border-radius: $border-radius;
    position: absolute;
    right: 0;
    z-index: 20;
    margin-top: 0.4rem;
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0px 10px 50px -23px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    @include SweetScroll(var(--white));
    &:empty::after {
      content: attr(aria-placeholder);
      width: 100%;
      height: $min-height;
      display: flex;
      justify-content: center;
      align-items: center;
      color: oklch(60% 0 0);
      text-align: center;
    }
    .CardPopover:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    .CardPopover:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.CardPopover {
  width: 100%;
  min-height: 3rem;
  &:hover {
    background-color: oklch(95% 0 0 / 50%);
  }
}
