main.loginSection {
  height: 100vh;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #f3f4f6;
  padding-top: 2.5%;
  user-select: none;
  transition: all 200ms ease;
  #registerOption {
    height: 100%;
    padding-left: 10%;
    img {
      width: 5rem;
    }
    h1 {
      margin: 10rem 0 0.75rem 0;
      color: var(--backColor);
    }
    p {
      margin-bottom: 8rem;
      color: #525252;
    }
    a {
      color: white;
      text-decoration: none;
      background-color: var(--backColor);
      padding: 1rem 2rem;
      border-radius: 1rem;
      &:hover {
        filter: brightness(140%);
        transition: all 200ms ease;
      }
    }
  }
  #loginForm {
    flex-direction: column;
    height: 100%;
    padding-right: 10%;
    display: flex;
    a.home {
      color: var(--backColor);
      text-decoration: none;
      font-size: 3rem;
      margin: 1rem 0 0 85%;
      width: fit-content;
      &:hover {
        animation: homeTambaleo 750ms ease;
      }
    }
    .loginInputs {
      background-color: var(--loginBackgroundForm);
      border-radius: 2rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      margin: 10% auto;
      width: 60%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: var(--backColor);
        text-align: center;
        margin-top: 20%;
      }
      input {
        border: none;
        margin: 2rem 0 2rem 0;
        background: none;
        border-bottom: solid 0.1rem #d4d4d4;
        text-align: center;
        &:focus {
          outline: none;
          border-bottom: solid 0.1rem #737373;
          &::placeholder {
            color: transparent;
          }
        }
        &:nth-child(3) {
          margin-bottom: 1rem;
        }
      }
      a {
        font-size: 0.8rem;
      }
      button,
      a#login {
        margin-top: 3rem;
        background-color: var(--backColor);
        color: #fff;
        padding: 0.5rem 2rem;
        text-decoration: none;
        border: none;
        &:hover {
          filter: brightness(140%);
          transition: all 200ms ease;
        }
      }
    }
  }
}

body.dark {
  main.loginSection {
    background-color: var(--loginBackgroundFormDark);
    #registerOption {
      p {
        margin-bottom: 8rem;
        color: #fff;
      }
    }
    #loginForm {
      .loginInputs {
        background-color: #f5f5f4;
      }
    }
  }
}

@keyframes homeTambaleo {
  // pasar a componente
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* Modo oscuro */

body.dark {
  main.logSec {
    display: flex;
  }
}


@media screen and (max-width: 1001px) {
  body {
    main.loginSection {
      display: flex;
      flex-direction: column;
      #registerOption{
        order: 2;
      }
      #loginForm{
        order: 1;
      }
    }
  }
}
