:root {
    /* Main */
    --primaryColor: #fbbf24;
    --backColor: #4f46e5;
    --backColorDark: #3730a3;
    
    --white: #f0f3f4;
    --dark: #1f1f1f;
    --fontBlack: #272727;
    --fontWhite: #e5e7e9;

    /* Login */
    --sizeInputs: 25rem;
    --loginBackgroundForm: #f8fafc;
    --loginBackgroundFormDark: #262626;
    
    /* Regiser */
    --registerBackgroundColor: #444cf7;
    --registerBackgroundColorDark: rgb(137, 155, 244);
    --registerTextDarkColor: #e5e7eb;
    --buttonSend: #6366f1;
    --borderButtonSend: #6390f1;
    --backMainRegisterColor: #e5e5f7;
    --backMainRegisterColorDark: #334155;

    /* Forgot */
    --backForgotColor: #6366f1;
    --backMainForgotColor: #e2e8f0;
    --backForgotColorDark: #30315b;
    --backMainForgotColorDark: #3f3f46;
}