main#forgotSection {
  background-color: var(--backForgotColor);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  section#forgotSection {
    width: 30%;
    height: 85%;
    background-color: var(--backMainForgotColor);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    img {
      width: 5rem;
      margin-top: 3rem;
      &:hover {
        filter: saturate(170%);
        transition: all 300ms ease;
      }
    }
    h2 {
      color: black;
      margin: 1rem 0 2rem 0;
      text-align: center;
    }
    div {
      //form
      display: flex;
      justify-content: center;
      flex-direction: column;
      p span{
        color: red;
      }
      div.input {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: center;
        margin-bottom: 1rem;
        span {
          position: absolute;
          left: 0;
          z-index: 10;
          padding: 0.2rem;
          font-size: 2rem;
          &#showInputSpan {
            margin-bottom: 1rem;
          }
          &.clicked{
            color: var(--backForgotColor);
          }
        }
        input {
          border: none;
          border-radius: 0;
          width: 19rem;
          height: 3rem;
          padding: 0 1rem 0 2.5rem;
          &:focus {
            outline: none;
          }
          &.wrong {
            border: 0.1rem solid red;
          }
        }
        div#password {
          #passwordContainer {
            #showBTN.clicked {
              color: var(--backForgotColor);
            }
          }
          div.progress {
            width: 100%;
            border-radius: 0;
            #progress-bar {
              height: 0.3rem !important;
            }
          }
        }
      }
      #optionBottom {
        position: absolute;
        margin-bottom: 2rem;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        color: var(--bs-link-color);
        text-decoration: underline;
      }
      button {
        background-color: var(--backForgotColor);
        color: #fff;
        width: 75%;
        height: 2rem;
        margin: 3rem auto;
        border: none;
        border-radius: 0.4rem;
        &:hover {
          filter: brightness(120%);
          transition: all 300ms ease;
        }
      }
      &#paso2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
          width: 80%;
        }
        button {
          //submit
          width: 30%;
          height: 3rem;
        }
      }
    }
  }
}

body.dark {
  main#forgotSection {
    background-color: var(--backForgotColorDark);
    section#forgotSection {
      background-color: var(--backMainForgotColorDark);
    }
    section#forgotSection {
      h2 {
        color: #fff;
      }
      div {
        //form
        div.input {
          input {
            &.wrong {
              border: 0.2rem solid rgb(255, 0, 0);
            }
          }
          span {
            color: #000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1001px) {
  body {
    main#forgotSection section#forgotSection{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
  }
}