@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dominant: #f9f7f7;
  --primary: #4f46e5;
  --details: #ffc04f;
  --LinkColor: #0d6efd;
  color-scheme: light;

  --base-nav-height: 17vh;
  --base-nav-x-padding: 10rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dominant: #1f1f1f;
    color-scheme: dark;
  }
}

html,
body {
  background-color: var(--dominant);
  scroll-behavior: smooth;
}
