@import '@/const/HomeConst.scss';

.LoginSection {
  display: flex;
  flex-wrap: wrap-reverse;
  padding-inline: $padding-section;
  min-height: calc(100vh - var(--base-nav-height));
  section {
    flex: 3;
    padding-bottom: var(--base-nav-height);
    display: flex;
    flex-direction: column;
    &.TextSide {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      h1 {
        color: var(--primary);
      }
      @media (width > 768px) {
        text-align: start;
        align-items: flex-start;
      }
    }
    &.FormSide {
      flex: 1;
      min-width: max-content;
      justify-content: center;
      align-items: center;
      form {
        height: clamp(25rem, 50%, 32rem);
        min-height: 25rem;
        width: clamp(20rem, 65%, 27rem);
        background-color: #f5f5f4;
        box-shadow: 0 8px 28px 5px hsla(0, 0%, 31%, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 2rem;
        gap: 1.45rem;
        h1 {
          color: var(--primary);
        }
        input {
          width: 50%;
          background: transparent;
          color: black;
          text-align: center;
          padding: 0.5ch;
          border-bottom: 2px solid #9ca3af;
          outline: none;
          &:focus {
            border-bottom: 2px solid var(--primary);
          }
        }
        a {
          color: var(--LinkColor);
          text-decoration: underline;
          &:hover {
            filter: brightness(1.2);
          }
        }
        @media (width > 1024px) {
          margin-right: 5rem;
        }
      }
      @media (width > 768px) {
        align-items: flex-end;
      }
    }
  }
  @media (width > 768px) {
    padding-inline: var(--base-nav-x-padding);
  }
}
