.LoginSection {
  display: grid;
  grid-template-columns: 65% 35%;
  padding-inline: var(--base-nav-x-padding);
  section {
    height: calc(100vh - var(--base-nav-height));
    padding-bottom: var(--base-nav-height);
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      display: flex;
      align-items: start;
      justify-content: center;
      h1 {
        color: var(--primary);
      }
      p {
        color: #f1f1f1;
      }
    }
    &:nth-child(2) {
      justify-content: center;
      align-items: flex-end;
      form {
        height: 70%;
        width: 65%;
        background-color: #f5f5f4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 2rem;
        gap: 1.45rem;
        h1 {
          color: var(--primary);
        }
        input {
          width: 50%;
          background: transparent;
          color: black;
          text-align: center;
          padding: 0.5ch;
          box-shadow: 0 8px 24px hsla(210, 11%, 65%, 0.2);
          border-bottom: 2px solid #9ca3af;
          outline: none;
          &:focus {
            border-bottom: 2px solid var(--primary);
          }
        }
        a {
          color: var(--LinkColor);
          text-decoration: underline;
          &:hover {
            filter: brightness(1.2);
          }
        }
        @media (width > 1024px) {
          margin-right: 5rem;
        }
      }
    }
  }
}
