@import '@/constants/configurations/Home.scss';

.LoginSection {
  display: flex;
  flex-wrap: wrap-reverse;
  min-height: calc(100dvh - var(--base-nav-height));
  flex-direction: column-reverse;
  section {
    flex: 3;
    padding-bottom: var(--base-nav-height);
    display: flex;
    flex-direction: column;
    &.TextSide {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      h1 {
        color: var(--primary);
      }
      @media (width > 768px) {
        text-align: start;
        align-items: flex-start;
      }
    }
    &.FormSide {
      flex: 1;
      width: max-content;
      justify-content: center;
      align-items: center;
      form {
        min-width: 20rem;
        max-width: 27rem;
        height: clamp(25rem, 50%, 32rem);
        min-height: 25rem;
        background-color: oklch(96.99% 0.001 106.42);
        box-shadow: 0 8px 28px 5px oklch(42.78% 0 0 / 20%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 2rem;
        gap: 1.45rem;
        h1 {
          color: var(--primary);
        }
        label {
          max-width: 10rem;
          input {
            width: 100%;
            background: transparent;
            color: var(--black);
            text-align: center;
            padding: 0.5ch;
            border-bottom: 2px solid oklch(71.37% 0.019 261.32);
            outline: none;
            &:focus {
              border-bottom: 2px solid var(--primary);
            }
          }
        }
        a {
          color: var(--LinkColor);
          text-decoration: underline;
          &:hover {
            filter: brightness(1.2);
          }
        }
        @media (width > 1024px) {
          margin-right: 5rem;
        }
      }
      @media (width > 768px) {
        align-items: flex-end;
      }
    }
    @media (width < 768px) {
      margin: 0 auto;
    }
  }
  @media (width > 768px) {
    padding-inline: var(--base-nav-x-padding) !important;
    flex-direction: row;
  }
}
