main#Home{
  nav{
    height: 15% !important;
  }
  section.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  #LycoKat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .LycoKatIco {
      width: 22.5rem;
      height: 22.5rem;
      background: url(./assets/LycokatLogo.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: color 3s linear infinite alternate;
    }
    p {
      width: 50%;
      font-size: 1rem;
      color: #717d7e;
      text-align: justify;
      a {
        text-decoration: none;
        span {
          font-size: 0.9rem;
        }
      }
    }
  }
  #AboutUs {
    .topWave {
      width: 100%;
      height: 19rem;
      transition: all 0.3s ease;
      background: url(assets/topWave.svg);
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 100%;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: background 0.3s ease;
    background-color: var(--backColor);
    margin-top: 8.4rem;
    #AboutUsSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      h1 {
        color: var(--primaryColor);
        font-size: 2.8rem;
        margin: 0 0 0 8.4rem;
      }
      p {
        color: #ecf0f1;
        font-size: 1.123rem;
        width: 65%;
        text-align: justify;
        margin-top: 1.123rem;
        margin-left: calc(8.4rem + 1.9rem);
      }
    }
    #AppMobile {
      width: 100%;
      margin-top: 11.23rem;
      height: 39rem;
      display: grid;
      grid-template-columns: 40% 60%;
      .blob {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(assets/blob2.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 30;
        .phone {
          position: absolute;
          width: 28rem;
          height: 39rem;
          background: url(../../assets/img/phone.webp);
          background-repeat: no-repeat;
          background-position: top;
          background-size: contain;
          z-index: 20;
          transform: skew(7deg);
        }
        .contentPhone {
          position: absolute;
          width: 16.8rem;
          height: 35rem;
          background: url(../../assets/img/backgroundPhone.png);
          background-position: top;
          background-size: cover;
          transform: skew(7deg);
          animation: slide 50s linear infinite;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          color: var(--primaryColor);
          font-size: 2.36rem;
        }
        p {
          color: #ecf0f1;
          font-size: 1.29rem;
          width: 70%;
          text-align: center;
          margin-top: 0;
        }
        img {
          margin-top: 1.29rem;
          height: 14rem;
          border-radius: 0.29rem;
        }
      }
    }
    .bottomWave {
      width: 100%;
      height: 14rem;
      margin-top: 5.6rem;
      transition: all 0.3s ease;
      background: url(assets/bottomWave.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center left;
    }
  }
  #Possibilities {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 2.24rem;
      text-align: center;
      color: var(--backColor);
      margin-bottom: 5.61rem;
      span {
        color: var(--primaryColor);
      }
    }
  }
  #Sedes {
    margin: 33.7rem 0 11.23rem 0;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 1.68rem;
      }
      p {
        font-size: 0.99rem;
        width: 70%;
        text-align: justify;
      }
    }
    .blob {
      width: 50%;
      height: 56.18rem;
      right: 0;
      z-index: 19;
      position: absolute;
      background: var(--backColor);
      border-top-left-radius: 70%;
      border-bottom-left-radius: 70%;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-position: right center;
    }
    .map {
      display: flex;
      justify-content: right;
      padding-right: 1.123rem;
      width: 40%;
      z-index: 20;
      margin: 0 2% 0 8%;
      iframe {
        width: 39.3rem;
        height: 28rem;
        border-radius: 1.123rem;
      }
    }
    padding-bottom: 22.5rem;
  }
}
  /* Animaciones */

  @keyframes color {
    0% {
      filter: invert(0%);
    }
    100% {
      filter: invert(100%);
    }
  }
}

@keyframes slide {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center 70%;
  }
}

/* Modo Oscuro 😎 */

body.dark {
  color: var(--white);
  background-color: var(--dark);
  header {
    .Header {
      background-color: var(--backColorDark);
      .img {
        img.light {
          display: none;
        }
        img.dark {
          display: flex;
        }
      }
      .Wave {
        transition: background 0.3s ease;
        background: url(./assets/headerWaveDark.png);
      }
    }
  }
  #LycoKat {
    p {
      color: var(--white);
    }
  }
  #AboutUs {
    #AboutUsSection {
      h1 {
        color: var(--primaryColor);
      }
    }
    background-color: var(--backColorDark);
    .topWave {
      transition: background 0.3s ease !important;
      background: url(assets/topWaveDark.svg) !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: top left !important;
      background-size: 100% !important;
    }
    .bottomWave {
      transition: background 0.3s ease !important;
      background: url(assets/bottomWaveDark.svg) !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center left !important;
    }
  }
  #Possibilities {
    h1 {
      color: var(--backColorDark);
    }
    .cardsContainer {
      .card {
        .textCard {
          span {
            color: var(--colorCardsDark);
          }
          h2 {
            color: var(--colorCardsDark);
          }
        }
      }
    }
  }
  #Sedes {
    .blob {
      background: var(--backColorDark);
    }
  }
  footer {
    background: var(--backColorDark);
  }
  /* Animaciones */

  @keyframes color {
    0% {
      filter: invert(10%);
    }
    100% {
      filter: invert(80%);
    }
  }
}

/* Responsive */

@media screen and (max-width: 1001px) {
  main#Home section.Home {
    #AboutUs {
      #AboutUsSection {
        align-items: center;
        text-align: center;
        h1 {
          margin: 0;
        }
        p {
          margin-left: 0;
        }
      }
      #AppMobile {
        display: flex;
        flex-direction: column;
        height: 130rem;
        .blob {
          order: 2;
          margin-top: 10rem;
          background: none;
          .phone {
            background: url(../../assets/img/phone.webp);
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
            transform: none;
            width: 100vw;
          }
          .contentPhone {
            background: url(../../assets/img/backgroundPhone.png);
            background-position: top;
            background-size: cover;
            transform: none;
          }
        }
        .text {
          order: 1;
        }
      }
    }
    #Possibilities {
      .cardsContainer {
        text-align: center;
        inline-size: auto;
      }
    }
    #Sedes {
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: column;
      margin-top: 20rem;
      .blob {
        width: 100%;
        margin-top: 80rem;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 0;
        border-bottom: var(--white) 0.1rem solid;
      }
      .map {
        margin-top: 50rem;
        width: 100%;
        padding-right: 0;
        align-items: center;
        justify-content: center;
        iframe {
          justify-content: center;
          width: 90%;
        }
      }
      padding-bottom: 23rem;
    }
  }
}
