#upButton {
  padding: .73rem;
  display: none;
  position: fixed;
  text-align: center;
  bottom: 1.123rem;
  left: 1.123rem;
  border-radius: 50%;
  background-color: var(--primaryColor);
  color: #ffffff;
  font-size: 1.68rem;
  z-index: 2000;
  cursor: pointer;
  user-select: none;
}

/* Modo Oscuro */
body.dark {
  #upButton {
    background-color: var(--primaryColorDark);
    color: #000000;
  }
}
