.SignIn {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  section {
    flex: 1;
    article {
      display: grid;
      gap: 3rem;
      min-width: 21rem;
      input:not([type="radio"]) {
        width: 100%;
        padding: 0.6rem 1rem;
      }
      div[id="sex"] {
        width: 100%;
        display: flex;
        justify-content: space-around;
        * {
          cursor: pointer;
        }
      }
    }
  }
  p {
    width: 100%;
    text-align: center;
    a {
      color: var(--LinkColor);
    }
  }
  button {
    background-color: var(--primary);
    margin: 0 auto;
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    transition: transform 0.3s ease;
    &:active {
      transform: scale(0.95);
      cursor: grabbing;
    }
  }
  @media (width > 1024px) {
    width: 60%;
  }
}

