.Possibilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 10rem 15rem;
  h1 {
    text-align: center;
    color: var(--primary);
    span {
      color: var(--details);
    }
  }
}
