.TermsAndConditions {
  h1 {
    text-align: center;
    span {
      color: var(--details);
    }
  }
  article.text {
    margin-top: 1.5rem;
    p {
      text-align: justify;
      text-wrap: pretty;
      word-break: break-all;
      overflow-wrap: break-word;
    }
  }
}
