$padding-section: 1.45rem;
$lycokat-text-color: #717d7e;
$linkTextColor: #0d6efd;
$waveSection-Color: #ecf0f1;
$padding-waveSection: 9rem;

@font-face {
  font-family: GoldenTitle;
  src: url("/assets/font/Poppins-Bold.ttf");
}
@font-face {
  font-family: GoldenText;
  src: url("/assets/font/Poppins-Light.ttf");
}

.Home {
  section {
    padding-inline: $padding-section;
  }
  section[id="Lycokat"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      animation: color 3s linear infinite alternate;
      @keyframes color {
        0% {
          filter: invert(10%);
        }
        100% {
          filter: invert(80%);
        }
      }
    }
    p {
      max-width: 60rem;
      text-align: justify;
      font-family: GoldenText;
      color: $lycokat-text-color;
      a {
        display: inline-flex;
        margin-right: 0.3rem;
        color: $linkTextColor;
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  section[id="waveSection"] {
    background-color: var(--primary);
    position: relative;
    padding-block: 25rem;
    margin-top: 10rem;
    font-family: GoldenText;
    font-size: 1.1rem;
    color: $waveSection-Color;
    padding-inline: $padding-waveSection;
    h1 {
      font-size: 2.8rem;
      color: var(--details);
      font-family: GoldenTitle;
      font-weight: 700;
      margin-bottom: 1rem;
      @media (width < 768px) {
        text-align: center;
      }
    }
    article[id="AboutUs"] {
      p {
        max-width: 75rem;
        margin: 0 0 2rem 2rem;
        text-align: justify;
        @media (width < 768px) {
          margin: 2rem 0;
        }
      }
    }
    article[id="AppMobile"] {
      display: flex;
      flex-wrap: wrap;
      padding-top: 5rem;
      figure {
        min-width: 20rem;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        div[class="phone"] {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 10;
          img {
            height: 100%;
            z-index: 5;
            &:last-child {
              width: 65%;
              height: 90%;
              position: absolute;
              top: 5%;
              z-index: 1;
              object-fit: cover;
              animation: ShowContent 10s linear infinite alternate;
              @keyframes ShowContent {
                0% {
                  object-position: top;
                }
                100% {
                  object-position: bottom;
                }
              }
            }
          }
          @media (width > 1024px) {
            transform: skew(6deg);
          }
        }
        img[class="blob"] {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
        }
      }
      article {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        text-align: center;
        h1 {
          font-size: 2.3rem;
        }
        p {
          font-size: 1.25rem;
          max-width: 50rem;
        }
        img {
          margin-top: 2rem;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 15rem;
      background: url("/assets/img/topWave.svg") no-repeat;
      background-position: start;
      background-size: cover;
      top: 0;
      left: 0;
      @media (prefers-color-scheme: dark) {
        background: url("/assets/img/topWaveDark.svg") no-repeat;
        background-position: start;
        background-size: cover;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 20rem;
      background: url("/assets/img/bottomWave.svg") no-repeat;
      background-position: 20%;
      background-size: cover;
      bottom: 0;
      left: 0;
      @media (prefers-color-scheme: dark) {
        background: url("/assets/img/bottomWaveDark.svg") no-repeat;
        fill: red;
        background-position: start;
        background-size: cover;
      }
    }
    @media (width < 768px) {
      padding-inline: $padding-section;
    }
  }
  section[id="Possibilities"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2.3rem;
      font-weight: 700;
      font-family: GoldenTitle;
      color: var(--primary);
      span {
        font-family: GoldenText;
        font-weight: 600;
        color: var(--details);
      }
    }
  }
  section[id="Sedes"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 15rem;
    article {
      flex: 1;
      display: grid;
      justify-content: center;
      gap: 1rem;
      h1 {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: GoldenTitle;
        text-align: center;
      }
      p {
        max-width: 30rem;
        font-family: GoldenText;
        text-align: justify;
      }
    }
    div[class="map"] {
      position: relative;
      min-width: 20rem;
      flex: 1;
      iframe {
        width: 90%;
        max-width: 70rem;
        height: 60%;
        max-height: 30rem;
        position: absolute;
        top: 50%;
        left: calc(50% + $padding-section);
        transform: translate(calc(-50% + $padding-section), -50%);
        @media (width < 768px) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &::before {
        content: "";
        display: flex;
        background-color: var(--primary);
        transform: translateX($padding-section);
        width: 100%;
        height: 50rem;
        border-radius: 20% 0 0 20%;
        @media (width < 768px) {
          transform: none;
          border-radius: 2rem;
        }
      }
    }
  }
}

.header {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    h1 {
      font-size: 4.5rem;
      font-family: GoldenTitle;
      margin-bottom: 1.7rem;
      color: var(--details);
      text-align: center;
    }
    p {
      font-size: 1.4rem;
      font-family: GoldenText;
      color: #ecf0f1;
      span {
        color: var(--details);
        font-family: GoldenTitle;
        font-weight: 800;
      }
      @media (width < 768px) {
        text-align: center;
      }
    }
  }
  figure {
    flex: 1;
    display: grid;
    place-items: center;
    position: relative;
    img[alt="blob"] {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: rightleft 5s linear infinite alternate;
      @keyframes rightleft {
        0% {
          object-position: 3rem;
        }
        50% {
          object-position: 0;
        }
        100% {
          object-position: 3rem -3rem;
        }
      }
      @media (width < 768px) {
        display: none;
      }
    }
    picture img {
      position: absolute;
      top: 30%;
      right: 0;
      transform: translatey(-30%);
      object-position: 10rem;
      @media (width < 768px) {
        position: inherit;
        width: 90%;
        object-position: 0;
        margin: 0 auto;
      }
    }
  }
  figure[id="waves"] {
    width: 100%;
    position: absolute;
    bottom: 0;
    wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: url(/assets/img/headerWave.png);
      transition: background 0.3s ease;
      @media (prefers-color-scheme: dark) {
        background: url(/assets/img/headerWaveDark.png);
      }
    }
    wave:nth-child(1) {
      animation: animate 15s linear infinite alternate;
      z-index: 100;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }
    wave:nth-child(2) {
      animation: animate 15s linear infinite alternate;
      z-index: 99;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 10px;
    }
    wave:nth-child(3) {
      animation: animate 30s linear infinite alternate;
      z-index: 98;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 15px;
    }
    wave:nth-child(4) {
      animation: animate 5s linear infinite alternate;
      z-index: 97;
      opacity: 0.7;
      animation-delay: -2s;
      bottom: 2px;
    }
    @keyframes animate {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 1000px;
      }
    }
  }
  @media (width < 768px) {
    flex-direction: column;
  }
}
