@import '@/constants/configurations/home.scss';

.Home {
  section {
    padding-inline: $padding-section;
  }
  .WaveSection {
    background-color: var(--primary);
    position: relative;
    padding-block: 15rem 25rem;
    margin-top: 10rem;
    color: $waveSection-Color;
    padding-inline: $padding-section !important;
    h1 {
      color: var(--details);
      margin-bottom: 1rem;
      @media (width < 768px) {
        text-align: center;
      }
    }
    svg {
      width: 100%;
      height: auto;
      color: var(--dominant);
      position: absolute;
      left: 0;
      &.TopWave {
        top: 0;
      }
      &.BottomWave {
        bottom: 0;
      }
    }
    @media (width > 768px) {
      padding-inline: $padding-waveSection !important;
    }
  }
}
