main#registerSection{
  opacity: 0.8;
  background-image:  radial-gradient(var(--registerBackgroundColor) 0.5px, transparent 0.5px), radial-gradient(var(--registerBackgroundColor) 0.5px, var(--backMainRegisterColor) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  nav a{
    color: var(--registerBackgroundColor) !important;
  }
  h1{
    height: 5%;
    margin-bottom: 3rem;
    color: var(--registerBackgroundColor);
  }
  section#formSection{
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    div.inputsList{
      display: grid;
      grid-template-rows: 4rem 2.5rem 3rem;
      gap: 3rem;
      justify-content: center;
      margin: 0 3rem;
      span{
        color: var(--registerBackgroundColor);
      }
      div.inputContainer{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: fit-content;
        input{
          width: 19rem;
          height: 2rem;
          padding: 1.2rem 1rem;
          margin: 0 auto;
          transition: 200ms all ease;
          &.wrong{
            border: .1rem solid red;
          }
        }
        span#nacSpan{
          font-size: .8rem;
          font-family: Poppins-Light;
          color: unset;
        }
        &#sexInputRadio{
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          label{
            display: flex;
            align-items: center;
            justify-content: center;
            input{
              height: 1rem;
              width: 2rem;
            }
            &:first-child{
              margin-right: 2rem;
            }
          }
        }
        &#passwordInputDiv{
          span{
            color: unset;
            &.clicked{
              color: var(--registerBackgroundColor);
            }
          }
          .progress{
            height: 1rem;
            border-radius: 0;
            background-color: transparent;
          }
        }
      }
    }
  }
  section#confirmationSection{
    display: grid;
    width: 80%;
    height: 30vh;
    grid-template-columns: 50% 50%;
    span#backArrow{
      color: var(--registerBackgroundColor);
      position: absolute;
      left: 5rem;
      font-size: 2rem;
      top: 20%;
      cursor: pointer;
    }
    div.formSection{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      p{
        height: 3rem;
        margin-bottom: 2rem;
        span{
          color: red;
        }
      }
    }
  }
  span#acceptTerms{
    margin: 2.5rem 0;
  }
  div#ReCAPTCHA{
    margin-bottom: 2rem;
  }
  button{
    width: 8rem;
    height: 2.7rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: #fff;
    background-color: var(--buttonSend);
    border: none;
    box-shadow: .03rem .02rem .2rem .1rem var(--borderButtonSend);
    transition: all 200ms ease;
    &:hover{
      filter: brightness(120%);
    }
  }
}

body.dark {
  main#registerSection {
    background-image:  radial-gradient(var(--registerBackgroundColorDark) 0.5px, transparent 0.5px), radial-gradient(var(--registerBackgroundColorDark) 0.5px, var(--backMainRegisterColorDark) 0.5px);
    nav a{
      color: var(--registerTextDarkColor) !important;
    }
    h1{
      color: var(--registerTextDarkColor);
    }
    section#formSection{
      div.inputsList span{
        color: var(--registerTextDarkColor);
      }
    }
    section#confirmationSection{
      span#backArrow{
        color: var(--registerTextDarkColor);
      }
      div.formSection span ref{
        color: rgb(251, 131, 131);
      }
    }
  }
}

@media screen and (max-width: 1001px) {
  body {
    main#registerSection{
      height: fit-content;
      padding-bottom: 5rem;
      h1{
        margin-top: 2rem;
        color: var(--registerBackgroundColor);
      }
      section#formSection{
        display: flex;
        flex-direction: column;
        grid-template: none;
        height: fit-content;
        div.inputsList{
          margin: 3rem 0;
          height: fit-content;
          &:first-child{
            margin-top: 0;
          }
        }
      }
      section#confirmationSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
        margin-bottom: 5rem;
        span#backArrow{
          top: 25%;
          left: 2rem;
        }
        div.formSection:nth-child(2){
          margin: 2rem 0 7rem;
        }
      }
    }
  }
}
