main#registerSection{
  background-color: var(--backMainRegisterColor);
  width: 100vw;
  height: 100vh;
  text-align: center;
  section#registerSection{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    div.inputsList{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      input{
        width: 19rem;
        border: none;
      }
    }
  }
}